html {
    display: inline-block;
    margin: auto;
    max-width: 100%;
    color: white;
    background-color: #1B262C;
    padding: 0;
    border: 0;
}

body {
  padding: 10px 10px;
  margin: 20px auto;
  font-size: 1.0rem;
  max-width: 800px;
  font-family: sans-serif;
}

h1 {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 95%;
    border: 0;
    padding: 0;
}

ul {
    text-align: center;
}
li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    border: 0;
    margin: 0;
    padding-right: 15px;
}

a, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
    color: gray;
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.tipjar {
    width: 15em;
    height: 15em;
}

.gpg {
    display: inline-block;
    background-color: #222831;
    border-radius: 15px;
    max-width: 100%;
    word-wrap: break-word;
}
