:root {
  color-scheme: light dark;
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

body {
  max-width: 42rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

header nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#theme-toggle {
  margin-left: auto;
}

a,
a:visited {
  text-decoration: underline;
}
