:root {
    --primaryBackgroundColor: #22303c;
    --secondaryBackgroundColor: #192734;
    --tertiaryBackgroundColor: #111c26;
    --consoleBackgroundColor: #292929;
    --lightconsoleBackgroundColor: #404040;
    --primaryTextColor: #ffffff;
    --secondaryTextColor: #FFD866;
    --tertiaryTextColor: #A9DC76;
    --codeColor: #d3d3d3;
    --elementColor: #bc0457;
    --variableColor: #d152f7;
}

/* Document Styling */
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

a, a:visited, a:active {
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    margin: 30px 0 0 0;
    color: var(--primaryTextColor);
}

h2 {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    margin-bottom: 10px;
    color: var(--secondaryTextColor);
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: var(--primaryTextColor);
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}

/* Animation Source */

/* Typewriter Animation */
    @keyframes typing {
        from { width:0 }
        to { width: 35% }
    }

    @keyframes typing2 {
        from { width: 0 }
        to { width: 30% }
    }

    @keyframes typing3 {
        from { width: 0 }
        to { width: 40% }
    }

    @keyframes blink {
        from, to { border-color: transparent }
        50% { border-color: var(--elementColor);}
    }

    @keyframes appear {
        from { opacity: 0 }
        to { opacity: 1 }
    }

/* Fade-In Animation */
    @keyframes fadeIn {
        from { opacity: 0 }
        to { opacity: 1 }
    }

/* Code-Like Syntax Highlighting Styling */
    .code {
        color: var(--codeColor);
        white-space: nowrap;
    }

    .element {
        color: var(--elementColor);
        white-space: nowrap;

    }

    .class {
        color: var(--secondaryTextColor);
        font-style: italic;
        white-space: nowrap;

    }

    .className {
        color: var(--tertiaryTextColor);
        white-space: nowrap;
    }

    .plaintext {
        color: var(--primaryTextColor);
        white-space: nowrap;
    }

    .variableName {
        color: var(--variableColor);
    }


/* Navigation Bar Styling */
.navbar {
    background-color: var(--consoleBackgroundColor);
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.socialicons {
    justify-content: center;
    font-size: 25px;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    border: 0;
    padding: 0;
    margin: 0;
}

/* Navbar Icon Styling */
    .fa-square-phone {
        display: inline-block;
        color: #00bb00;
        border: 0;
        padding: 0;
        margin: 0 10px 0 10px;
        font-size: 25px;
    }

        .fa-square-phone:hover {
            color: lightgreen;
        }

    .fa-square-envelope {
        display: inline-block;
        color: #d3d3d3;
        border: 0;
        padding: 0;
        margin: 0px 10px 0 10px;
        font-size: 25px;
    }

        .fa-square-envelope:hover {
            color: #ffffff;
        }

    .fa-github {
        display: inline-block;
        color: #d3d3d3;
        border: 0;
        padding: 0;
        margin: 0 10px 0 10px;
    }

        .fa-github:hover {
            color: #ffffff;
        }

    .fa-square-twitter {
        display: inline-block;
        color: #1da1f2;
        border: 0;
        padding: 0;
        margin: 0 10px 0 10px;
    }

        .fa-square-twitter:hover {
            color: lightblue;
        }

    .fa-youtube {
        display: inline-block;
        color: #e62117;
        border: 0;
        padding: 0;
        margin: 0 10px 0 10px;
    }

        .fa-youtube:hover {
            color: lightcoral;
        }
/* Resume Button Styling */

    .resumeDownload {
        position: absolute;
        right: 20px;
        top: 5px;
        bottom: 10px;
        height: 25px;
        width: 110px;
        color: var(--primaryTextColor);
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        letter-spacing: 2px;
        white-space: nowrap;
        border-radius: 5%;
        background-color: var(--primaryBackgroundColor);
    }

    .resumeDownload:hover {
        cursor: pointer;
        background-color: #333f4a;
    }

/* Heading Styling */

.heading {
    border-bottom: 2px solid black;
    width: 100%;
    background-color: var(--primaryBackgroundColor);
    border: 0;
    padding: 0;
    margin: 0;
}

.typewriterArea {
    display: inline-block;
    text-align: center;
    border-right: .10em solid var(--elementColor);
    border-color: var(--elementColor);
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 3px;
    animation:
        typing 2s steps(30, end),
        blink 0.9s step-end infinite;
}

/* Portfolio Section Styling */

.portfolio {
    background-color: var(--secondaryBackgroundColor);
    border: 0;
    padding: 20px 0 20px 0;
    margin: 0;
}

.typewriterArea2 {
    display: inline-block;
    text-align: center;
    border-right: .10em solid var(--elementColor);
    border-color: var(--elementColor);
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 3px;
    animation:
        typing2 2s steps(30, end),
        blink 0.9s step-end infinite;
}

.projectsGalleryGrid {
    justify-content: center;
    color: var(--primaryTextColor);
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 40vw);
    opacity: 0;
    animation:
        fadeIn 5s 3s forwards;
}

.project {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


/* Technologies Section Styling */
.technologies {
    background-color: var(--tertiaryBackgroundColor);
    border: 0;
    padding: 20px 0 20px 0;
    margin: 0;
}

.typewriterArea3 {
    display: inline-block;
    text-align: center;
    border-right: .10em solid var(--elementColor);
    border-color: var(--elementColor);
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 3px;
    animation:
        typing3 2s steps(30, end),
        blink 0.9s step-end infinite;
}

.technologiesIconsGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryTextColor);
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    gap: 20px;
    opacity: 0;
    grid-template-columns: repeat(4, 10vw);
    animation:
        fadeIn 3s 5s forwards;
}


/* Brand Colors */
    .fa-html5 {
        color: #f06529;
    }

    .fa-css3 {
        color: #2965f1;
    }

    .fa-aws {
        color: #FF9900;
    }

    .fa-git-alt {
        color: #f1502f;
    }

    .fa-js {
        color: #F0DB4F;
    }

    .fa-android {
        color: #a4c639;
    }

    .fa-digital-ocean {
        color: #123cff;
    }

    .fa-vuejs {
        color: #42b883;
    }

    .fa-bitcoin {
        color: #f2a900;
    }

    .fa-ethereum {
        color: #3c3c3d;
    }

    .fa-rust {
        color: #b7410e;
    }

    .fa-linux {
        color: #d3d3d3;
    }

    .fa-react {
        color: #61DBFB;
    }

    .fa-docker {
        color: #0db7ed;
    }

    .fa-wordpress {
        color: #21759b;
    }

    .fa-node-js {
        color: #6cc24a;
    }

    .fa-angular {
        color: #dd1b16;
    }

    .fa-bolt {
        color: #8a2be2;
    }

    .fa-apple {
        color: #ffffff;
    }

    .fa-cloud-arrow-up {
        color: #add8e6;
    }

    .fa-python {
        color: #FFE873;
    }
/* Contact Section Styling */

.contact {
    background-color: var(--lightconsoleBackgroundColor);
    display: flex;
    align-items: center;
    width: 100vw;
}

.contactForm {
    background-color: inherit;
    width: 60vw;
    height: 400px;
    border-radius: 5%;
}